@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #9B2F19;
}

header {
    padding-bottom: 15px;
    background: rgb(234,173,16);
    background: linear-gradient(0deg, rgb(222, 191, 115) 0%, rgba(193, 136, 63, 0.411) 100%);

    
    display: flex;
        flex-direction: row;
        z-index: 9999;
        
}


.navbar {
    width: 100%;
   font-size:  20px; 
   font-weight: 500;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
  
   
    margin-top: 3%;
    

}

.logo-header {
    margin-left: 3%;
    
    width: 10%;
    height: 7%;
}

.navbar a {
    color: black;
    text-decoration: none;
    margin-left: 10%;
    font-weight: 500;
}

.navbar a:hover {
    color: #7f6424;
}


footer {
    width: 100%;
    height: fit-content;
   
    background: linear-gradient(0deg, rgba(193, 136, 63, 0.411) 0%, rgb(222, 191, 115) 100%);
    margin-top: auto;
}

.logo-pretoEbranco {
    width: 8%;
}

.redes-sociais {
    width: 18%;
    margin: auto;
    display: flex;
}

.itens-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.logo-byron-preta {
    padding-bottom: 16px;
    width: 20%;
    height: 20%;
}

.desenvolvido-por {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
 
}

.desenvolvido-por p {
    margin-right: 2%;
    font-size: 80%;
}

/* Mobile */
@media (max-width: 769px) {
    header {
          background: linear-gradient(0deg, rgb(222, 191, 115) 0%, rgba(193, 136, 63, 0.411) 100%);
        width: 100%;
        height: fit-content;
        display: flex;
      position:fixed;
      bottom: 0;
    }

    .icon-mobile {
        max-height: 40px;
        width: auto;
    }

    .logo-header {
        display: none;
    }

    .navbar {
        margin-top: 5%;
        margin-right: 11%;
    }

    .nav-mobile {
        display: flex;
            flex-direction: row;
            align-items: top;
            text-align: center;
    }

 

    .a-icon-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }

    .carrinho {
        max-height: 40px;
            width: auto;
    }
    


    footer {
        padding-bottom: 8%;
        height: fit-content;
    }

    .logo-pretoEbranco {
        width: 10%;
    }

    .redes-sociais {
        width: 20%;
    }

    .logo-byron-preta {
        width: 20%;
    }
}

@media (min-width: 769px) {
    .nav-mobile {
        display: none;
    }
    .carrinho{
        width: 40px;
    }
}

@media (max-width: 769px) {
    .nav-desktop {
        display: none;
    }
}
