:root {
  --clr-primary: #9b2f19;
  --clr-black: #191919;
  --clr-white: #eef2f5;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#Home img,
.carousel-item img {
  max-height: 600px;
  width: auto;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 5px;
  font-size: large;
}

.card.bg-warning {
  background-color: #f5f5f5;
}

#Sobre {
  height: fit-content;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 2rem;
}

.sobrenos {
  display: flex;
    flex-direction: row;
  gap: 2rem;
}

.sobreleft {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2%;

}

.sobrenos img {
  max-width: 400px;
  max-height: 280px;
  border-radius: 12px;
}

.sobreright {
  flex: 1;
  text-align:justify;
}
.card{
  border-radius: 12px;
  background-color:#9b2f19 ;
}


#map-section {
  color: #191919;
  text-align: center;
  
}

#map {
  height: 300px;
  border-radius: 4px;
}

@media (max-width: 769px) {
 
  .sobrenos {
    flex-direction: column;
    align-items: center;
  }

  .sobrenos img {
    max-width: 100%;
    
    justify-content: center;
  }

  .sobreright {
    text-align: justify;
    padding-top: 1rem;
  }
    .sobreright h1 {
      text-align: center;
    }
  
  .icon-mobile {
    margin-bottom: 20px;
  }
 .contato-icon {
   margin-bottom: 20px;
 }


}



@media (max-width: 769px) {
  
  .nav-desktop{
    display: none !important;
    
  }
   
    }
    


@media (min-width: 769px) {
  .nav-mobile {
    display: none !important;
    /* Adicione !important para garantir que o estilo seja aplicado */
  }
    
}
.carrinho-icon {
width: 40px;

}